<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="ISO-8859-1">
  <title>Income Management System</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container">
  <h1>Income Management System</h1>
  <hr>
  <h2>Save Income</h2>

  <form action="#" th:action="@{/saveIncome}" th:object="${income}" method="POST">
    <input type="text" th:field="*{localDate}" placeholder="Income localDate" class="form-control mb-4 col-4">

    <input type="text" th:field="*{incomePrice}" placeholder="Income incomePrice" class="form-control mb-4 col-4">

    <input type="text" th:field="*{incomeSubject}" placeholder="Income incomeSubject" class="form-control mb-4 col-4">

    <input type="text" th:field="*{typeCost}" placeholder="Income typeCost" class="form-control mb-4 col-4">

    <input type="text" th:field="*{priceCost}" placeholder="Income priceCost" class="form-control mb-4 col-4">

    <input type="text" th:field="*{costSubject}" placeholder="Income costSubject" class="form-control mb-4 col-4">

    <button type="submit" class="btn btn-info col-2"> Save Income</button>
  </form>

  <hr>

  <a th:href="@{/income}"> Back to Income List</a>
</div>
</body>

</html>